<header class="h-44 relative custom-background">
  <div class="px-10 py-5 relative flex gap-7 justify-center">
    <div class="w-60 hover:cursor-pointer title_hover">
      <img class="title_img" src="../../../../assets/pokemonFavorito.png" />
      <div class="mt-4">
        <img
          class="h-20 w-20 mx-auto pokemon_img transition-all"
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/132.png"
        />
      </div>
    </div>
    <div>
      <h2 class="pb-2"><strong>Caracteristicas</strong></h2>
      <ul class="leading-8">
        <li class="flex gap-1">Tipo: <app-ship>Normal</app-ship></li>
        <li>Habilidad: <strong>Transform</strong></li>
        <li>ID: <strong>98</strong></li>
      </ul>
    </div>
    <div>
      <h2><strong>Informacion adicional</strong></h2>
      <ul class="leading-8">
        <li class="flex gap-1">Peso:</li>
        <li>Habilidad: <strong>Transform</strong></li>
        <li>ID: <strong>98</strong></li>
      </ul>
    </div>
    <div class="flex">
      <img
        class="h-32 w-32 my-auto"
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/132.png"
        alt=""
      />
      <img
        class="h-32 w-32 my-auto"
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/132.png"
        alt=""
      /><img
        class="h-32 w-32 my-auto"
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/132.png"
        alt=""
      />
      <img
        class="h-32 w-32 my-auto"
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/132.png"
        alt=""
      />
    </div>
  </div>
</header>
