.custom-background {
  background-image: url("../../../../assets/Header-image-pokemon-baby-names.png");
}

.title_hover:hover .pokemon_img {
  scale: 1.5;
}
.title_img {
  width: 100%;
}
@screen md {
  .header-height {
    height: var(--header-height);
  }
  .title_img {
    width: 15rem;
  }
}
