.mat-mdc-form-field {
  font-size: 20px;
  width: 100%;
}
.text-center {
  text-align: center;
}
.row-table:hover .name-pokemon {
  text-decoration: underline;
}
.minimun-height {
  min-height: calc(100vh - var(--header-height));
}
table,
.search {
  background-color: transparent;
}

.starAnimation {
  animation: favoriteAnimation 0.8s;
}
@keyframes favoriteAnimation {
  0% {
  }
  50% {
    scale: 1.5;
  }
  100% {
    scale: 1;
  }
}
